body {
	background-color: #DADADA;
}
#menuBar {
    clear: both;
}

.pusher {
	opacity: 1;
    display: block;
}

#login-form {
    padding: 0;
    bottom: -100em;
}

#login-form .column {	
	max-width: 450px;    
}

.ui.masthead.segment {
    padding: 10em 0 10em 0;
}

#login-form {    
    margin: 4em auto;
    top: 10em;
    min-height: 72%;
}

.column img {
    height: 100%;
    width: 100%;
}
.doubling.stackable.grid.container {
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

.doubling.stackable.grid.container > .column {
    padding: 0em;
}

i.cart.icon {
    margin: 0;
}

.ui.label.itemcount {
    margin: 0;
    padding: 0.5em;
}

.cartimage {
    padding-left: 0.5em;
}

.ui.section.divider {
    margin: 0.75em;
}

.footer.segment {
    clear:both;
    padding: 5em 0em;
    margin: auto;
}

.ui.grid.signup {
    margin: 6em 2em 2em;
}

.ui.signup .column {
    max-width: 500px;    
}

.ui.signup .segment {
    position: relative;
    border-radius: .28571429rem;
    box-shadow: 10px 10px .28571429rem #888888;
    border-top: 6px solid #00b5ad;
    position: relative;
}

.ui.signup label {    
    text-align: left;
}

.ten.wide.column > h3, p{
    text-align: left;
}

.ui.fixed.menu+.ui.grid {
    padding: 0em;
}

#userImg {
    padding: 0.5em;
    width: 3.386080em;
}

.ui.circular.image {
    width: 100%;
    height: 100%;
}
.ui.pointing.dropdown .menu {
    padding: 1em;
}

.ui.pointing.dropdown>.menu:after {
    margin: 0 0 0 11.5em;
}

.ui.pointing.dropdown .menu>.item {
    padding: 0em;
    min-width: 25em;
}

.ui.pointing.dropdown .menu .item img {
    min-height: 8em;
    min-width: 8em;
}

.ui.menu .ui.dropdown .menu>.item:hover, .ui.menu .ui.dropdown .menu>.selected.item {
    background: #fff !important;
}