body {
}
#menuBar {
    clear: both;
    background-color: white;
    display: block;
    box-shadow: 1px 2px 2px 0 rgba(34,36,38,.15);
    margin: 0;
    padding-top: 0.5em;
    border-bottom: 2px solid rgba(34,36,38,.15);
}

.ui.search.item input {
    border-radius: 0.4rem;
    min-width: 30em;
}

.ui.menu .categories .pointing.dropdown .menu {
    min-width: 50em;
    padding: 1em;
}

.ui.menu .categories .pointing.dropdown >.menu:after {
    margin: 0 0 0 -42%;
}

.ui.search.item i {
    background-color: #232f3e;
    color: white;
}

.ui.secondary.menu .header.item {
    border: none;
}

.pusher {
	opacity: 1;
    display: block;
}

#login-form {
    padding: 0;
    bottom: -100em;
}

#login-form .column {	
	max-width: 450px;    
}

.ui.masthead.segment {
    padding: 10em 0 10em 0;
}

#login-form {
    padding-top: 5em;
    margin: 0 auto 4em;
    top: 10em;
    min-height: 67%;
}

.column img {
    height: 100%;
    width: 100%;
}
.doubling.stackable.grid.container {
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

.doubling.stackable.grid.container > .column {
    padding: 0em;
}

i.cart.icon {
    margin: 0;
}

.ui.label.itemcount {
    margin: 0;
    padding: 0.5em;
}

.cartimage {
    padding-left: 0.5em;
}

.ui.section.divider {
    margin: 0.75em;
}

.footer.segment {
    clear:both;
    padding: 5em 0em;
    margin: auto;
}

.ui.grid.signup {
    margin: 6em 2em 2em;
}

.ui.signup .column {
    max-width: 500px;    
}

.ui.signup .segment {
    position: relative;
    border-radius: .28571429rem;
    box-shadow: 10px 10px .28571429rem #888888;
    border-top: 6px solid #00b5ad;
    position: relative;
}

.ui.signup label {    
    text-align: left;
}

.ten.wide.column > h3, p{
    text-align: left;
}

.ui.fixed.menu+.ui.grid {
    padding: 0em;
}

#user-menu {
    padding: 0.5em;
    width: 3.386080em;
}

.ui.circular.image {
    width: 100%;
    height: 100%;
}
.ui.pointing.dropdown.user-menu .menu {
    padding: 1em;
}

.ui.pointing.dropdown.user-menu >.menu:after {
    margin: 0 0 0 44%;
}

.ui.pointing.dropdown.user-menu .menu>.item {
    padding: 0em;
    min-width: 25em;
}

.ui.pointing.dropdown.user-menu .menu .item img {
    min-height: 8em;
    min-width: 8em;
}

.ui.menu .ui.dropdown.user-menu .menu>.item:hover, .ui.menu .ui.dropdown .menu>.selected.item {
    background: #fff !important;