body {
	background-color: #DADADA;
}
#menuBar {
    clear: both;
}

.pusher {
	opacity: 1;
    display: block;
}

#login-form {
    padding: 0;
    bottom: -100em;
}

#login-form .column {	
	max-width: 450px;    
}

.ui.masthead.segment {
    padding: 10em 0 10em 0;
}

#login-form {    
    margin: 4em auto;
    top: 10em;
    min-height: 72%;
}

.column img {
    height: 100%;
    width: 100%;
}
.doubling.stackable.grid.container {
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

.doubling.stackable.grid.container > .column {
    padding: 0em;
}

i.cart.icon {
    margin: 0;
}

.ui.label.itemcount {
    margin: 0;
    padding: 0.5em;
}

.cartimage {
    padding-left: 0.5em;
}

.ui.section.divider {
    margin: 0.75em;
}

.footer.segment {
    clear:both;
    padding: 5em 0em;
    margin: auto;
}

.ui.grid.signup {
    margin: 8em 2em 5em;
}

.ui.signup .column {
    max-width: 500px;    
}

.ui.signup .form {
    position: relative;
    border-radius: .28571429rem;
    box-shadow: 10px 10px .28571429rem #888888;
    position: relative;
}

.ui.signup .segment {    
    border-radius: .28571429rem; 
    border-top: 6px solid #00b5ad;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.ui.signup label {    
    text-align: left;
}

.ui.signup button {
    padding: 1em 2.5em;
}
.ten.wide.column > h3, p{
    text-align: left;
}

.ui.error.message {
    max-width: 450px;
}